@font-face {
    font-family: 'Good Timing';
    src: url('/frontend/fonts/GoodTiming.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html {
  overflow: hidden;
}
body {
    font-family: 'Good Timing', sans-serif;
    margin: 0;
    padding: 0;
    background: url('/frontend/bg/splash.png') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    text-align: center;
}

canvas {
    width: 100% !important;
    height: 100% !important;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}


.white {
    color: #ebf1ff
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.5);
    padding: 2rem;
}

.title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #00aaff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.menu button {
    font-family: 'Good Timing', sans-serif;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    background: linear-gradient(90deg, #00aaff, #007acc);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.menu button:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
}

.menu button:active {
    transform: scale(1);
}

.games-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 6rem;
    margin-top: 4rem;
    width: 80%;
    padding: 1rem;
    justify-items: center;
}

.game-box {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 200px;
    text-align: center;
}

.game-box:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

.game-thumbnail {
    width: 100%;
    height: auto;
}

.game-name {
    font-size: 1.2rem;
    color: #fff;
    padding: 0.5rem 0;
    background: linear-gradient(90deg, #00aaff, #007acc);
}

